<style>
    #header {
        background-color: #222;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header__login {
        margin-right: 20px;
    }

    #body {
        background-color: #333;
        height: 100vh;
    }

</style>

<div class="message">
    <div id="header">
        <img src="../views/static/imgs/logo.png" alt="404 NOT FOUND" style="max-width: 85px; max-height: 75%;">
        <div id="header__login">
            <button type="button" class="btn btn-primary">LOGIN</button>
            <button type="button" class="btn btn-primary">SIGN UP</button>
        </div>
    </div>

    <div id="body">

    </div>
</div>