<a href="/discover">Discover</a> <br>
<a href="/users">Users</a> <br>
<a href="/create">Upload/Create new Video</a>

{{!-- {{#each videos}}
    <a style="text-decoration: none;" href="/post/{{this.id}}">
        <h3>{{this.title}}</h3>
        <h6>{{this.description}}</h6>
    </a>
{{/each}} --}}