<style>
    .message {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        
        overflow-y: none;
        width: 50%;
        height: 100%;
    }
    .message div {
        position: fixed;
        bottom: 10px;
    }
</style>
<div class="message">
    <img src="../views/static/imgs/not_found.png" alt="404 NOT FOUND" style="max-width: 90%; max-height: 75%;">
    <h3><a href="/">HOME</a></h3>
</div>