<h1 id="user-username">Username: </h1>
<h1 id="user-email">Email: </h1>

<form action="/profile" method="POST" style="text-align: center;">
    <h9 style="color: red; text-align: center;">{{ errMessage }}</h9>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="password" class="form-control" name="old_password" placeholder="Old Password">
    <input type="password" class="form-control" name="new_password" placeholder="New Password">
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

<script>
    function getUserElement(id) {
        return document.querySelector(id)
    }
    getAuthUser((err, authUser) => {
        if (err || !authUser)
            return
        getUserElement("#user-username").innerHTML += authUser.username
        getUserElement("#user-email").innerHTML += authUser.email
    })
</script>