:root {
    --main-bg-color: #0B0E11;
    --main-ui-color: #151A21;
    --main-button-color: #FD4D4D;
    --main-text-color: white;
}

.button {
    background-color: var(--main-button-color);
    color: white;
    font-weight: 700;
}

.text {
    color: var(--main-text-color);
}

.background {
    background-color: var(--main-ui-color);
}

.button:hover {
    background-color: var(--main-button-color);
    color: rgb(212, 212, 212);
    font-weight: 700;
}

.input {
    background-color: var(--main-ui-color);
    border: none;
    padding: 5px;
    border-radius: 7.5px;
    color: white;
}

body {
    background-color: var(--main-bg-color);
}

#info {
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#info > div {
    padding: 20px;
}

#info-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#body {
    background-color: var(--main-bg-color);
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
}

@media only screen and (max-width: 600px) {
    #upload {
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
    }
}

#header {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

#header__login {
    display: flex;
    flex-direction: row;
    /* margin-right: 20px; */
}

#header__login > * {
    margin-left: 20px;
}

#header__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(0.8);
}
#header__image * {
    cursor: pointer;
}
#themeSelect {
    margin-top: 15px;
    border: 1px solid lightgrey;
    color: white;
    background-color: transparent;
    border-radius: 7.5px;
    padding: 10px;
}

.option {
    border: none;
    color: white;
    background-color: #333;
}

.option:hover {
    border: none;
    color: white;
}

.title-text {
    color: var(--main-button-color);
    font-weight: bold;
    padding-top: 5px;

    z-index: 1;
}

.menu {
    display: block;
    margin-right: 25px;
    cursor: pointer;
}

.menu * {
    width: 35px;
    height: 5px;
    border-radius: 15px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.menu-hover .menu-top {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.menu-hover .menu-middle {opacity: 0;}
.menu-hover .menu-bottom {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* .menu:hover {
    animation-name: animation;
    animation-duration: 2s;
} */
.menu-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu-bar a, .menu-bar #theme-select {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
}

.menu-bar a:hover, .menu-bar a:focus {
    color: #f1f1f1;
}

.menu-bar .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .menu-bar a {font-size: 20px}
    .menu-bar .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@keyframes animation {
    from   {  transform: rotate(0deg); }
    to   {  transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
    #header__login {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 560px) {
    #input {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .menu {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 350px) {
    #header__image h3 {
        display: none;
    }
    .menu {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 260px) {
    #header__login > a {
        display: none;
    }
}
