:root {
    --main-bg-color: #0B0E11;
    --main-ui-color: #151A21;
    --main-button-color: #FD4D4D;
}

.button {
    background-color: var(--main-button-color);
    color: white;
    font-weight: 700;
}

.button:hover {
    background-color: var(--main-button-color);
    color: rgb(212, 212, 212);
    font-weight: 700;
}

.input {
    background-color: var(--main-ui-color);
    border: none;
    padding: 5px;
    border-radius: 7.5px;
    color: white;
}
#body {
    padding-top: 10px;
    background-color: var(--main-bg-color);
    height: 100vh;
}
